*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #938181;
}
.container h1{
    margin: 30px;
    text-shadow: 0px 1px 1px black;
}
.counter{
    width: 30%;
    display: flex;
    justify-content: center;
}
#increment-btn, #decrement-btn, #reset{
    height: 50px;
    width: 120px;
    padding: 0 40px;
    border-radius: 10px;
    border: none;
    font-size: 40px;
    background-color: #2e8d46;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    cursor: pointer;
}
#reset{
    font-size: 20px;
}
#counter-value{
    height: 50px;
    min-width: 120px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.454);
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}